<div class="popup-farm">
  <div>
    <%= image_tag farm.photo_owner, class: "avatar" %>
    <p> <%= farm.user.first_name %></p>
  </div>
  <%= image_tag "Picto/#{farm.tag_list}.png" %>
</div>
<div class="farm-rating d-flex justify-content-center">

  <% 3.times do %>
    <i class="fas fa-star colored"></i>
  <% end %>
  <% (5 - 3).times do %>
    <i class="fas fa-star"></i>
  <% end %>
</div>