<div class="container">
  <div class="content pr-3 pl-3">
    <h5>Mes producteurs favoris</h5>
    <% @favorites.each_with_index do |favorite, i| %>
    <div id="favorite-id<%= favorite.id %>">
      <%= render 'farms/farm_card', farm: favorite.farm, reviews: favorite.farm.reviews, average_rating: favorite.farm.reviews.average(:rating).to_i, favorite: favorite %>
    </div>
    <% end %>
  </div>
</div>
