<div class="footer text-center">

  <div class="footer-copyright">
    <div>
      Made with <i class="fas fa-heart"></i> by EatBetter <br>
    </div>

      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>

  </div>

</div>
