<div class="containersearchbar">
  <div class="search-bar">
    <%= form_tag farms_path, method: :get, class: "search-geo-controls input-group rounded search_style" do %>
      <div><%= text_field_tag :query,
        params[:query],
        class: "form-control rounded size-text",
        placeholder: "Choisissez votre ville"
      %></div>
      <div class="checkbox-pictohome row mt-3">
        <div class="carottebox col-4">
          <input type="checkbox" id="category" name="category" value="légumes">
          <label for="légumes"> Légumes</label>
          <div class="carotte"></div>
        </div>
        <div class="pommebox col-4">
          <input type="checkbox" id="category" name="category" value="fruits">
          <label for="fruits"> Fruits</label>
          <div class="pomme"></div>
        </div>
        <div class="fleurbox col-4">
          <input type="checkbox" id="category" name="category" value="fleurs">
          <label for="Fleurs">Fleurs</label>
          <div class="fleur"></div>
        </div>
        <div class="fromagebox col-4">
          <input type="checkbox" id="category" name="category" value="fromages">
          <label for="Fromages"> Fromages</label>
          <div class="fromage"></div>
        </div>
        <div class="poissonbox col-4">
          <input type="checkbox" id="category" name="category" value="poissons">
          <label for="Poissons"> Poissons</label>
          <div class="poisson"></div>
        </div>
        <div class="viandebox col-4">
          <input type="checkbox" id="viandes" name="fiandes" value="">
          <label for="Viandes"> Viandes</label>
          <div class="viande"></div>
        </div>
      </div>
      <%= button_tag(type: 'submit', class:'btn btn-info') do %>
        Trouver
        <i class="fas fa-search"></i>
      <% end %>

    <% end %>
  </div>
</div>
