<%= form_tag root_path, method: :get, class: "search-geo-controls input-group rounded search_style" do %>
  <div><%= text_field_tag :query,
                          params[:query],
                          class: "form-control rounded size-text",
                          placeholder: "Choisissez votre ville pour louer votre vélo"
  %></div>
  <%= button_tag(type: 'submit', class:'btn btn-info') do %>
    <i class="fas fa-search"></i>
  <% end %>
<% end %>
