<%=render 'shared/navbar' %>
<%= image_tag "fond-home-eatbetter.jpg", id:"banner-image" %>
<div class="container">
  <h1 class="titrehome">Trouver votre producteur à coté de chez vous</h1>
  <%= render 'shared/search' %>
</div>
<%= render'shared/footer' %>