<div class="container">
  <%= render 'shared/search' %>
  <%= image_tag "fond-home-eatbetter-2.jpg", id:"banner-image" %>
  <h1 class="titrehome mb-3">Trouver votre producteur à coté de chez vous !</h1>
  <%= render'shared/footer' %>
</div>
