.cards-farm {
  max-height: 150px;
  display: flex;
  overflow: scroll;
  //background-color: #FFA412;
}
.card-product {
  width: 90vw;
  height: 130px;
  background: white;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px 10px;
  position: relative;
}

.card-product-img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;

}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  //margin: 0;
}

.card-product h4 {
  font-size: 14px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 200px;
}
.card-product-infos {
  color: #2C3A64;
  border: solid #82b378 1px;
  border-radius: 0px 20px 20px 0px;
}
.card-active {
  border: solid #82b378 3px;
  border-radius: 20px 20px 20px 20px;
}

.favorite-farm {
  position: absolute;
  top: 10px;
  right: 10px;
}


