.farm {
  background-color: #fff;
}
.farm-images-list {
  //background: white;
  position: relative;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom:20px;
}
.farm-images-list > img:not(.farm-user-list) {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.farm-description-list{
  padding: 8px;
  border: solid #82b378 1px;
  border-radius: 0px 0px 20px 20px;
}
.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  border: 0;
  line-height: 2px;
}
.farm-user-list {
  position: absolute;
  right: 16px;
  top: 170px;
  width: 80px;
}
.first-name{
  color: #2C3A64;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}
.category {
  color: #2C3A64;
}
.address{
  color: #2C3A64;
  font-size: 16px;
  font-weight: bolder;
}
.content-description{
  color: #2C3A64;
  font-size: 14px;
}
.farm:hover{
border: solid 3px #FFA412;
border-radius: 0px 0px 20px 20px;
}
#picto-list{
height: 35px;
}
