@import "avatar";

.colored {
  color: #FFB93E;
}

.farm-images {
  background: white;
  position: relative;
  border-radius: 20px;
}

.farm-images > img:not(.farm-user) {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.farm-user {
  position: absolute;
  right: 16px;
  bottom: -20px;
  width: 80px;
}
.listOpenings{
    padding: 8px;
  //border: solid #2C3A64 1px;
  //border-radius: 20px 20px 20px 20px;
  color : #2C3A64;
}
hr
{
  width:100%;
}
.text-list-market{
    color : #2C3A64;
}
.name-product{
  color: #2C3A64;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}
.content-product{
  color: #2C3A64;
  font-size: 14px;
}
.price-product{
    color: #2C3A64;
  font-size: 16px;
  font-weight: bolder;
}

// .card-trip p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }


// .card-trip .card-trip-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }
