// linked to products cards displayed in farms show :)
.product-images {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  border-radius: 20px;
}

.product-images > img {
  max-width: 100%;
}

.listOpenings {
  display: flex;
  flex-direction: column;
}
