// linked to products cards displayed in farms show :)
.product-images {
  background: white;
  width: 100%;
  border-radius: 20px;
}

.product-images > img {
  max-width: 100%;
}

.listOpenings {
  display: flex;
  flex-direction: column;
}
