.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// modif logo central, à une position absolue
.navbar-lewagon .navbar-brand img {
  position: absolute;
  top: 5%;
  left: 20%;
  //transform: translate(50%, 0%);
}
.navbar{
padding: 17px;
}

