.list-items-orders {
  display: flex;
  flex-direction: column;
}

.card-item-order {
  width: 90vw;
  height: 160px;
  background: white;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px 10px;
  position: relative;
}

.card-total-order {
  width: 90vw;
  height: 40px;
  background: white;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px 10px;
  position: relative;
  justify-content: center;
}

.card-item-order-img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.item-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ED7D2B;
}

.item-order-info {
  padding: 5px;
}

.hr{
  width: 100%;
}

.total{
  color: #2C3A64;
  font-size: 17px;
  font-weight: bold;
  //text-transform: uppercase;
}
