.search_style{
  width: 100%;
  margin: 12px;
  text-align:center;
}
.input-group-text{
  background-color: #ED7D2B;
  text-decoration:none;
}
a {
color : #ADC9E0;
 text-decoration:none;
}

.input-group-text:hover{
  background-color: #FFA412;
  text-decoration:none;
}

.search-geo-controls {
  display: flex;
  justify-content: center;
  //flex-direction: row;
  // justify-content: space-between;
  //align-items: flex-start;
}

.size-text {
  width: 100%;
}

// Pour enlever l'icone de géolocalisation
button.ap-input-icon.ap-icon-pin {
  display: none;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
