.search_style{
  width: 100%;
  margin: 5px;
  text-align:center;
}
.input-group-text{
  background-color: #ED7D2B;
  text-decoration:none;
}
a {
color : #ADC9E0;
 text-decoration:none;
}

.input-group-text:hover{
  background-color: #FFA412;
  text-decoration:none;
}

.search-geo-controls {
  display: flex;
  justify-content: center;
  //flex-direction: row;
  // justify-content: space-between;
  //align-items: flex-start;
}

.size-text {
  width: 100%;
}

// Pour enlever l'icone de géolocalisation
button.ap-input-icon.ap-icon-pin {
  display: none;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn-info{
  color: #fff;
  background-color: #ED7D2B;
}
.btn-info:hover{
  color: #ED7D2B;
  border: 2px solid #ED7D2B;;
  background-color: #fff;
}
.checkbox-pictohome {
  //text-align: center;
  color :#2C3A64;
  display: inline-flex;
 flex-direction: row ;
justify-content: space-between ;
}

.carotte {
  background-image: url("Picto/légumes.png");
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
.carottebox{
display:flex;
align-items: center;

}
#legumes{
  margin-bottom: 10px;
  margin-right: 5px;
}
.pomme{
  background-image: url("Picto/fruits.png");
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}
.pommebox{
display:flex;
align-items: center;

}
#fruits{
  margin-bottom: 10px;
  margin-right: 5px;
}
.fleur{
  background-image: url("Picto/fleurs.png");
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}
.fleurbox{
display:flex;
align-items: center;

}
#fleurs{
  margin-bottom: 10px;
  margin-right: 5px;
}
.fromage{
  background-image: url("Picto/fromages.png");
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}
.fromagebox{
display:flex;
align-items: center;

}
#fromages{
  margin-bottom: 10px;
  margin-right: 5px;
}
.poisson{
  background-image: url("Picto/poissons.png");
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}
.poissonbox{
display:flex;
align-items: center;

}
#poissons{
  margin-bottom: 10px;
  margin-right: 5px;
}
.viande{
  background-image: url("Picto/viandes.png");
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.viandebox{
display:flex;
align-items: center;

}
#viandes{
  margin-bottom: 10px;
  margin-right: 5px;
}

